In [32]:
!conda env list

# conda environments:
#
base                   C:\Users\User\miniconda3
condaIntroToDSPProject   C:\Users\User\miniconda3\envs\condaIntroToDSPProject
h501-gutenberg         C:\Users\User\miniconda3\envs\h501-gutenberg
h501-gutenberg-1     * C:\Users\User\miniconda3\envs\h501-gutenberg-1
h501-gutenberg-1       c:\Users\User\miniconda3\envs\h501-gutenberg-1

# conda environments:
#
base                   C:\Users\User\miniconda3
condaIntroToDSPProject   C:\Users\User\miniconda3\envs\condaIntroToDSPProject
h501-gutenberg         C:\Users\User\miniconda3\envs\h501-gutenberg
h501-gutenberg-1     * C:\Users\User\miniconda3\envs\h501-gutenberg-1
h501-gutenberg-1       c:\Users\User\miniconda3\envs\h501-gutenberg-1

In [5]:
from tt_gutenberg.tt_gutenberg.authors import *

list_authors(by_languages=True, alias=True)

                     alias
145639          Abdul-Baha
144028  D'Abbadie, Arnauld
144030  D'Abbadie, Arnauld
144027  D'Abbadie, Arnauld
147718    Abbe, E. (Ernst)
...                    ...
71794            Li, Ya-ko
71809            Li, Ya-ko
65238     Merimee, Prosper
192482    Mitre, Bartolome
47957     Poe, Edgar Allen

[53034 rows x 1 columns]

In [ ]:
C:\Users\User\miniconda3\envs\h501-gutenberg-1\tt_gutenberg\tt_gutenberg\authors.py

In [2]:
%pwd

'c:\\Users\\User\\miniconda3\\envs\\h501-gutenberg-1'